[submodule "cogni-claims"]
	path = cogni-claims
	url = https://github.com/cogni-work/cogni-claims.git
	branch = main
[submodule "cogni-obsidian"]
	path = cogni-obsidian
	url = https://github.com/cogni-work/cogni-obsidian.git
	branch = main
[submodule "cogni-workspace"]
	path = cogni-workspace
	url = https://github.com/cogni-work/cogni-workspace.git
	branch = main
[submodule "cogni-narrative"]
	path = cogni-narrative
	url = https://github.com/cogni-work/cogni-narrative.git
	branch = main
[submodule "cogni-copywriting"]
	path = cogni-copywriting
	url = https://github.com/cogni-work/cogni-copywriting.git
	branch = main
